* {
    background-color: #566272;
    font-family:'Times New Roman', Times, serif;
}
h1 {
    display: flex;
    justify-content: center;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    border-bottom: 5px solid #41454a;
}
h3 {
    font-weight: 100;
    color: #1e1d26;
}
.aboutMe {
    color:#211f28;
    border-top: 5px solid #41454a;

}
.container {
    display: flex;
    justify-content: center;
    
}
@media screen and ( min-width: 750px) {
    .container {
        background-color: rgb(82, 105, 125);
        
}
    
}

p {
    display: flex;
    align-items: center;
    color:#709dd9;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    font-size: large;
    border-bottom: 5px solid #41454a;
}
nav {
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 20px;
    
}

nav a:link {
    color:#41454a;
    background-color: transparent;
    text-decoration: none;
}
nav a:hover {
    color:#709dd9;
    background-color: transparent;
    text-decoration: underline;
}
nav a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;

}
nav a:active {
    color: #566272;
    background-color: transparent;
    text-decoration: underline;
}
div {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

